* {
	margin:0;
	padding:0;
}

html {
	font-family:sans-serif;
	font-size:100%;
	line-height:1.4;
	background-color:#000;
	color:#eee;
	overflow-x:hidden;
}

body {
	background-color:#ddd;
	color:#222;
	width:100%;
	max-width:56em;
	margin:0 auto 3em;
	border-radius:0 0 1em 1em;
	padding-top:4em;
}

a {
	color:inherit;
	text-decoration:none;
	border-bottom:1px dashed #222;
}

a:hover {
	color:#000;
	border-bottom:1px dashed #000;
}

.code {
	font-family:monospace, serif;
}

div.code {
	background-color:#555;
	color:#ddd;
	padding:0.5em;
	white-space:nowrap;
	overflow:auto;
	font-size:100%;
}

.center {
	text-align:center;
}

.char {
	width:1em;
}

article {
	padding:0 3em 3em;
}

article li {
	margin-bottom:1em;
}

nav {
	position:fixed;
	top:0px;
	width:54em;
	max-width:100%;
	max-height:2em;
	white-space:nowrap;
	overflow:hidden;
	background-color:#ff8;
	color:#333;
	padding:0.5em 1em;
	margin:0 auto 1em;
	margin-bottom:1em;
	box-shadow:0 0 0.5em black;
}

nav a, nav a:hover {
	background-color:inherit;
	color:inherit;
	text-decoration:none;
	border:none;
}

nav li.home a {
	background-image:url('img/home.svg');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	height:100%;
	width:1em;
	text-indent:-9999px;
	overflow:hidden;
	white-space:nowrap;
}

nav li {
	display:inline-block;
	padding:0 0.75em;
}

nav li.current, nav li.current:hover {
	border-bottom:0.25em solid #553;
}

nav li:hover {
	border-bottom:0.25em solid #774;
}

h2 {
	color:#333;
	text-align:left;
	font-size:1.5em;
	font-weight:bold;
}

p {
	margin-top:1em;
}

dl {
	display:inline-block;
	margin:1em 1em 0;
}

h2+p {
	margin-top:0;
}

p+h2, iframe+h2 {
	margin-top:1em;
}

dl {
	display:inline-block;
}

dl a, dl a:hover {
	border:none;
}

.embed {
	display:block;
	border:none;
	margin:1em -4px 0;
	padding:0;
	width:100%;
	height:50em;
}
