* {
    font-size:100%;
    font-weight:normal;
    font-variant:normal;
    line-height:1.5;
    margin:0;
    padding:0;
}

html {
    background-color:#830;
}

body {
    background-color:#fff;
    color:#333;
    max-width:52rem;
    margin:0 auto;
    padding:0 3em 1em;
}

code, p, ul {
    margin-bottom:1em;
}

em {
    font-variant:italic;
}

h1, h2 {
    font-weight:bold;
    margin-top:1em;
}

h1 {
    font-size:200%;
}

h2 {
    font-size:150%;
}

hr {
    margin:1em 0;
}

pre code {
    background-color:#333;
    color:#f80;
    display:block;
    overflow:auto;
    padding:1em 2em;
}

strong {
    font-weight:bold;
}